<style type="text/css">

/* Text */

h1{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 60px;
}
h2{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}
h3{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
}
body {
  font-size: 16px;
  line-height: 26px;
}
blockquote{
  background-color: #ecf0f1;
  padding: 20px;
  border: 0;
  border-radius: 5px;
}

/* Images */

img {
  padding-bottom: 10px;
}

/* Tables */

table {
  border-collapse: collapse;
  margin-bottom:10px;
}
thead {
  border-top: solid #DCDCDC;
  border-bottom: solid #DCDCDC;
}
tr.odd {
  background-color: #F8F8F8;
}
tr:first-child {
  border-top: solid #DCDCDC;
}
tr:last-child {
  border-bottom: solid #DCDCDC;
}
.tableSmall table {
  width:30%;
}
.tableMedium table {
  width:60%;
}

</style>
